    <!-- About Section -->
    <section id="about" class="container content-section text-left">
        <div class="row">
            <div class="col-xs-12">
              <br/><br/>
              <h3>A message from Tony:</h3>
              <br/>
              <p><span class="lead">
              &quot;<i>The best things in life are worth waiting for...</i>&quot;  
              </p></span>
              <p>
              That’s what I’ve always been told, and I suppose there is truth in that.  I am a native Floridian and have worked on a family farm much of my life.  Mostly because it was a way to make a living; but I still found satisfaction in it.  It has been several years since I last farmed "full-time", but I've managed to plant something in a patch of dirt nearly every year since then. I guess you could say that I have dirt in my veins.</p>

              <p>I come alive when you start talking about produce.  I love those roadside pop-up markets (you know, the "here today gone tomorrow" ones). I have always wanted my own produce market. </p>  

              <p> Fresh is best, and the fresher, the better.  My goal is to carry as much locally-grown produce as I can. You have my word that everything you find in my market will be as fresh as it can possibly be.  I select the best for you and your family, just as I would select for me and mine.</p>

              <p>We will be here today, and tomorrow to provide the freshest fruits and vegetables for you.</p>

            </div>
            <div class="col-xs-10">
              <p class="text-right text-muted"> -Tony Waldron </p>
        </div>
    </section>
