<!-- jQuery Version 1.11.0 -->
<!-- <script src="js/jquery-1.11.0.js" data-proofer-ignore></script> -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

<!-- Plugin JavaScript -->
<script src="{{ "js/jquery.easing.min.js" | prepend: site.baseurl }}" data-proofer-ignore></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js" data-proofer-ignore></script>

<!-- Custom Theme JavaScript -->
<script src="js/landing-page.js" data-proofer-ignore></script>

<!-- Google Maps stuff -->
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBMcrhcn7ND6y-FnjRcgske6QqXUwEIVu4&sensor=false&extension=.js&output=embed"></script>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70043107-1', 'auto');
  ga('send', 'pageview');

</script>
